<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3ijPprrPjMRMZ_AOJ5mhIUfWB1-YsoMo</string>
	<key>GCM_SENDER_ID</key>
	<string>332285402769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.bixbox.infitech</string>
	<key>PROJECT_ID</key>
	<string>bigbox-f23f9</string>
	<key>STORAGE_BUCKET</key>
	<string>bigbox-f23f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332285402769:ios:75a80541cf8dbdacc76930</string>
</dict>
</plist>